// 1. Import the initial variables
@import "../bulma/sass/utilities/initial-variables";
@import "../bulma/sass/utilities/functions";
@import "../fresh/partials/_colors";

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// Enhance the fresh colors:
$accent-invert: findColorInvert($accent);
$secondary-invert: findColorInvert($secondary);

// Add new color variables to the color map by setting custom-colors, which is included in derived-variables.sass.
// assume bulma is imported after this colors.scss file.
// @import "../bulma/sass/utilities/derived-variables";
// No need to merge maps since this is done in the sass above:  $colors: map-merge($colors, $add-colors);

$custom-colors: (
        "twitter":($twitter, $twitter-invert),
        "linkedin": ($linkedin, $linkedin-invert),
        "github": ($github, $github-invert),
        "accent": ($accent, $accent-invert),
        "secondary": ($secondary, $white)
);
