/* ==========================================================================
Color variables
========================================================================== */

$white: #fff;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;

// Richard custom:
$old-secondary: #F39200;
$alt-secondary: #FFB951;

$primary: #4E5CF4;
$secondary: #22E5BE;
$secondary-alpha-0: rgba(#22E5BE, 0);
$secondary-alpha-1: rgba(#22E5BE, 1);
$accent: #6153CC;

$fade-grey: #ededed;
$light-grey: #EFF4F7;
$title-grey: #A9ABAC;
$blue-grey: #444F60;
$muted-grey: #999;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$purple: #7F00FF;
$mint: #11FFBD;
$bloody: #FC354C;
$pinky: #ff00cc;
$frost: #004e92;
$placeholder: #cecece;
$dark-grey: #344258;
$border-grey: #ccc;
$muted-grey: #999;
$section-grey: #fbfbfb;
$section-blue-grey: #444F60;
$section-light-blue-grey: #98a9c3;
