/* ==========================================================================
Hero styles
========================================================================== */

.hero-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    .title, .subtitle {
        font-family: 'Exo 2', sans-serif;
    }
    .title {
        &.is-bold {
            font-weight: 700;
        }
    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

.hero-foot {
    img.partner-logo {
        height: 70px;
    }
}

.rounded-5 {
    border-radius: 5px;
}