/* ==========================================================================
Navbar
========================================================================== */

.navbar.is-fresh {
    position: relative;
    min-height: 3.8rem;
    transition: all .3s;
    z-index: 99;
    .container {
        min-height: 4rem;
    }
    &.no-shadow {
        box-shadow: none !important;
    }
    //Responsive menu icon
    .navbar-burger {
        width: 4rem;
        height: 4rem;
    }
    //Brand
    .navbar-brand {
        min-height: 4rem;
        img {
            max-height: 38px !important;
            height: 38px;
        }
        //Removing navbar item default hover behaviour
        &:hover {
            .navbar-item {
                background: transparent !important;
            }
        }
    }
    .navbar-end {
        align-items: center;
    }
    //Navbar items
    .navbar-item {
        color: $muted-grey;
        &.has-no-padding {
            padding: 2px
        }
        &.is-secondary {
            border-bottom: 2px solid $secondary-alpha-0;  // start transparent.
            transition: border-bottom 300ms;  // fade using alpha 0 to 1.
            &:hover {
                color: $secondary !important;
                border-bottom: 2px solid $secondary-alpha-1;  // fade to full color.
            }
        }
        &.is-active {
            color: $secondary;
        }
        &.has-dropdown {
            padding: 10px 0;
            .navbar-link {
                color: $muted-grey;
                &:after {
                    top: 55%;
                    height: 0.5em;
                    width: 0.5em;
                    border-width: 2px;
                    border-color: $muted-grey;
                }
            }
            .navbar-dropdown {
                top: 3.4rem;
                min-width: 220px;
                margin-top: 4px;
                border-top-color: $secondary;
                .navbar-item {
                    padding: 10px 20px;
                }
            }
            &:hover {
                .navbar-link {
                    color: $secondary;
                    &:after {
                        border-color: $secondary;
                    }
                }
            }
        }
        .signup {
            display: block;
            line-height: 0;
            font-size: .9rem !important;
        }
    }

    //Fixed navbar modifier
    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 4rem !important;
        background: $white;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
        a {
            color: $blue-grey;
            &:hover {
                color: $primary;
            }
        }
    }
}

//Cloned fixed navbar
#navbar-clone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    transform: translateY(-100%);
    z-index: 100;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    &.is-active {
        transform: translateY(0);
    }
}

// Opacity Animation
// Testing with opacity animation:
//border-bottom: 2px solid $secondary;
//opacity: 1;
//animation-name: fadeInOpacity;
//animation-iteration-count: 1;
//animation-timing-function: ease-in;
//animation-duration: .4s;
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}