{{ define "main" }}
  <div class="section is-medium">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="has-text-centered">
            <h2 class="title is-1">{{ .Params.Heading }}</h2>
            <h3 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h3>
            <div class="mb-40"></div>
            <div class="divider is-centered"></div>
          </div>
            {{ if .Content }}
              <div class="container">
                <div class="columns">
                  <div class="content-wrapper">
                    <div class="content">
                        {{.Content}}
                    </div>
                  </div>
                </div>
              </div>
            {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns is-centered has-text-centered">
      <div class="column is-8">
        <div class="content">
            {{ if .Params.blurb }}
              <p class="is-size-4 ml-3 mr-3 is-size-5-mobile">
                <b>
                    {{ .Params.blurb.intro }}
                </b>
              </p>
              <p class="is-size-5 has-text-grey ml-3 mr-3 is-size-5-mobile">
                  {{ .Params.blurb.tagLine | markdownify }}
              </p>
            {{ end }}
        </div>
      </div>
    </div>
    <div class="container mt-60">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <div class="columns">
            <div class="column is-three-quarters is-offset-2">
              <div class="level-right">
                  {{- if .Params.image }}
                      {{ partial "image.html" (dict "context" . "image" .Params.image "alt" .Params.altText ) }}
                  {{- end}}
              </div>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="columns">
            <div class="column is-three-quarters">
              <div class="content has-text-grey">
                  {{ if .Params.blurb }}
                    <p class="ml-3 mr-3 is-size-5-mobile">
                        {{ .Params.blurb.main | markdownify }}
                    </p>
                  {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ partial "funnel-landing-consulting-choice-buttons.html" . }}
{{ end }}
