{{ define "main" }}
  <section>
    <div class="section is-medium">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="has-text-left">
              <h2 class="title is-1">{{ .Params.Heading }}</h2>
              <h3 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h3>
              <div class="mb-40"></div>
              <div class="divider"></div>
            </div>
            <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
              {{ if .Content }}
                <div class="container">
                  <div class="columns">
                    <div class="content-wrapper">
                      <div class="content">
                          {{.Content}}
                      </div>
                    </div>
                  </div>
                </div>
              {{ end }}
          </div>
        </div>
        <!-- Ranges through content/posts/*.md -->
        <!-- Start tile ancestor for the first column and close it on the 3rd or last element in the range of pages. -->
          {{ $num_pages := len .Pages }}
          {{ if gt $num_pages 0 }}
              {{/* old example of column size not used: {{ $column_size :=  (div $num_pages 3.0) | math.Ceil | int | default 1 }}*/}}
              {{ range $i, $e := .Pages.ByPublishDate.Reverse }}
                  {{ if not .Params.draft }}
                      {{ $offset := mod $i 3 | add 1 }}
                      {{ if eq $offset 1 }}
                        <div class="columns mt-40">
                        <div class="column is-fullwidth">
                        <div class="tile is-ancestor">
                      {{ end }}
                      <div class="tile is-parent is-4">
                        <article class="card-flex is-child box">
                          <a href="{{.Permalink}}">
                            <div class="card-flex-image">
                                {{- if .Params.image }}
                                    {{ partial "image-4x3-with-title.html" (dict "context" $ "image" .Params.image "alt" "Image for Blog" ) }}
                                {{- end}}
                            </div>
                          </a>
                          <div class="card-flex-header-title mt-20">
                            <a href="{{.Permalink}}">
                              <p class="title is-5 has-text-left has-text-grey">
                                  {{.Params.blogTitle}}
                              </p>
                            </a>
                          </div>
                          <footer class="card-flex-footer">
                            <div class="card-flex-footer-item is-size-7 has-text-grey-light">
                              <a href="{{.Permalink}}">
                                <p>{{ if .Params.Author }} by {{ .Params.Author }}{{ end }}
                                  <br>
                                    {{ .Params.Date.Format .Site.Params.globalDateFormat }}
                                </p>
                              </a>
                            </div>
                          </footer>
                        </article>
                      </div>
                      {{ if or (eq $offset 3) (eq (add $i 1) $num_pages) }}
                        </div>
                        </div>
                        </div>
                      {{ end }}
                  {{ end }}
              {{ end }}
          {{ end }}
      </div>
    </div>
  </section>
  {{ $num_pages = len (where .Pages ".Params.draft" true) }}
  {{ if gt $num_pages 0 }}
    <section>
      <div class="section is-medium">
        <div class="container">
          <div class="columns">
            <div class="column">
              <div class="has-text-left">
                <h2 class="title is-1">Drafts</h2>
                <div class="mb-20"></div>
                <div class="divider"></div>
              </div>
            </div>
          </div>
            {{ range  $i, $e := (where .Pages.ByPublishDate.Reverse ".Params.draft" true) }}
                {{ if .Params.draft }}
                    {{ $offset := mod $i 3 | add 1 }}
                    {{ if eq $offset 1 }}
                      <div class="columns mt-40">
                      <div class="column is-fullwidth">
                      <div class="tile is-ancestor">
                    {{ end }}
                    <div class="tile is-parent is-4">
                      <article class="card-flex is-child box">
                        <a href="{{.Permalink}}">
                          <div class="card-flex-image">
                              {{- if .Params.image }}
                                  {{ partial "image-4x3-with-title.html" (dict "context" $ "image" .Params.image "alt" "Image for Blog" ) }}
                              {{- end}}
                          </div>
                        </a>
                        <div class="card-flex-header-title mt-20">
                          <a href="{{.Permalink}}">
                            <p class="title is-5 has-text-left has-text-grey">
                                {{ $i }} of {{ $num_pages }}
                                {{.Params.blogTitle}}
                            </p>
                          </a>
                        </div>
                        <footer class="card-flex-footer">
                          <div class="card-flex-footer-item is-size-7 has-text-grey-light">
                            <a href="{{.Permalink}}">
                              <p>{{ if .Params.Author }} by {{ .Params.Author }}{{ end }}
                                <br>
                                  {{ .Params.Date.Format .Site.Params.globalDateFormat }}
                              </p>
                            </a>
                          </div>
                        </footer>
                        </a>
                      </article>
                    </div>
                    {{ if or (eq $offset 3) (eq (add $i 1) $num_pages) }}
                      </div>
                      </div>
                      </div>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
  <section class="section"></section>
{{ end }}



