{{ define "main" }}
  <section>
    <div class="section is-medium section-feature-grey">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="has-text-centered">
              <h2 class="title is-1">{{ .Params.blogTitle }}</h2>
              <div class="mb-40"></div>
              <h3 class="subtitle is-5 is-muted">{{ .Params.subtitle }}</h3>
              <div class="mb-40"></div>
              <div class="divider is-centered"></div>
            </div>
            <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
              {{ if .Content }}
                <div class="container">
                  <div class="columns">
                    <div class="content-wrapper">
                      <div class="content">
                          {{.Content}}
                      </div>
                    </div>
                  </div>
                </div>
              {{ end }}
          </div>
        </div>
        <!-- Ranges through content/posts/*.md -->
        <!-- Start tile ancestor for the first column and close it on the 3rd or last element in the range of pages. -->
          {{ $num_pages := len .Pages }}
          {{ if gt $num_pages 0 }}
              {{/* old example of column size not used: {{ $column_size :=  (div $num_pages 3.0) | math.Ceil | int | default 1 }}*/}}
              {{ range $i, $e := .Pages.Reverse }}
                  {{ $offset := mod $i 3 | add 1 }}
                  {{ if eq $offset 1 }}
                    <div class="columns mt-40">
                    <div class="column is-fullwidth">
                    <div class="tile is-ancestor">
                  {{ end }}
                  <div class="tile is-parent is-4">
                    <div class="tile card-flex is-child box">
                        {{- if and (.Params.image) (.Params.altText) }}
                          <div class="card-flex-image has-text-centered">
                            <figure class="image is-48x48 is-inline-block">
                              <a href="{{.Permalink}}">
                                <img src="{{ printf "%s%s" .Permalink (.Params.image | relURL) }}"
                                     alt="{{ .Params.altText }}">
                              </a>
                            </figure>
                          </div>
                        {{- end }}
                      <div class="mt-20">
                        <div class="columns is-centered">
                          <div class="column">
                            <p class="title is-6 has-text-grey has-text-centered">
                              <a href="{{.Permalink}}">
                                  {{.Params.blogTitle}}
                              </a>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{ if or (eq $offset 3) (eq (add $i 1) $num_pages) }}
                    </div>
                    </div>
                    </div>
                  {{ end }}
              {{ end }}
          {{ end }}
      </div>
    </div>
  </section>
  <section class="section section-feature-grey"></section>
{{ end }}
