{{ if .Params.breadcrumbs }}
    {{ $homeName := .Params.breadcrumbs.home.name }}
    {{ $homeLink := .Params.breadcrumbs.home.link }}
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a href="{{ $homeLink }}">
            <span class="icon is-small">
              <i class="fa fa-home" aria-hidden="true"></i>
            </span>
            <span>{{ $homeName }}</span>
          </a>
        </li>
      </ul>
    </nav>
{{ end }}