{{ $href       := .href }}
{{ $buttonText := .buttonText }}
{{ $classes    := .classes }}
<a class="button cta rounded raised {{ $classes }}" href="{{ $href }}" style="white-space: normal">
  <span class="icon is-left">
    <i class="fa fa-play" style="margin-right: 1.25em"></i>
  </span>
    {{ $buttonText }}
</a>