{{ $heading := .Params.contactHeading }}
{{ $subHeading := .Params.contactSubHeading }}
<section id="contact" class="section section-feature-grey is-medium">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">{{$heading}}</h2>
      <h3 class="subtitle is-5 is-muted">{{$subHeading}}</h3>
      <div class="divider is-centered"></div>
    </div>
    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <script type="text/javascript">
            let submitted = false;
            const buttonUpdateThankYou = () => {
              let button = document.getElementById("contactFormSubmit");
              let origText = button.innerText;
              button.innerText = "Thank you!";
              setTimeout(() => {
                button.innerText = origText;
                document.getElementById("contactForm").reset();
              }, 3000);
            };
          </script>
          <iframe name="contactForm-iFrame" id="contactForm-iFrame" style="display:none;"
                  onload="if (submitted) { buttonUpdateThankYou(); }">
          </iframe>
          <form id="contactForm"
                class="validate"
                data-netlify="true"
                data-netlify-recaptcha="true"
                action="/success"
                method="POST" target="contactForm-iFrame" onsubmit="submitted=true;">
            <div class="columns is-multiline is-variable">
              <div class="column is-6">
                <div class="control has-icons-left">
                  <input class="input is-medium" name="entry.2005620554" type="text" data-validation="not-blank"
                         placeholder="Enter your name" required>
                  <span class="icon is-left">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </div>
                <div class="validation-error-message hidden has-text-danger" style="display:none">Name is required</div>
              </div>
              <div class="column is-6">
                <div class="control has-icons-left">
                  <input class="input is-medium" type="email" name="emailAddress" data-validation="email not-blank"
                         placeholder="Email address" required>
                  <span class="icon is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
                <div class="validation-error-message hidden has-text-danger" style="display:none">Email must be a valid
                  email address
                </div>
              </div>
              <div class="column is-12">
                <div class="control has-icons-left">
                  <input class="input is-medium" type="text" name="entry.1065046570" placeholder="Subject">
                  <span class="icon is-left">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </div>
              </div>
              <div class="column is-12">
                <div class="control">
                  <textarea name="entry.1166974658" class="textarea is-medium" rows="10" placeholder="How can I help?"
                            data-validation="not-blank" required></textarea>

                </div>
              </div>
              <div class="column is-12">
                <div class="column">
                  <div data-netlify-recaptcha="true"></div>
                </div>
              </div>
              <div class="column">
                <div class="control form-footer has-text-centered">
                  <button id="contactFormSubmit" class="button cta is-large primary-btn raised is-clear" type="submit">Send Message</button>
                </div>
                <div class="validation-error-message hidden has-text-centered has-text-danger mt-20">
                  <p class="is-size-6 mt-10"> Please complete the fields in red</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      {{ partial "disclaimer-info-safety-privacy.html" . }}
    </div>
  </div>
</section>
