{{- $disclaimerInfoSafety := .Site.Params.disclaimers.infoSafetyDisclaimer | markdownify }}
{{- $disclaimerPrivacy := .Site.Params.disclaimers.privacyDisclaimer | markdownify }}
<div class="columns">
  <div class="column is-8 is-offset-2 is-centered">
    <p class="is-size-7 has-text-weight-light has-text-centered is-centered">
      <i class="fa fa-lock has-text-grey-light"></i>&nbsp{{ $disclaimerInfoSafety }}</p>
    <p class="mt-40 is-size-7 has-text-weight-light has-text-centered is-centered">{{ $disclaimerPrivacy }}</p>
  </div>
</div>
