<section class="section is-small">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths has-text-centered">
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
            this.page.url = {{ .Page.Permalink }};
            this.page.identifier = {{ .File.LogicalName }};
          };
          (function () {
            var d = document, s = d.createElement('script');
            s.src = 'https://rees-lloyd-consulting.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
            powered by Disqus.</a></noscript>
      </div>
    </div>
  </div>
</section>
<div class="section is-small"></div>