{{/*{{- $button1Text := "Consulting Packages >>>" }}*/}}
{{- $nextStepsText := .Params.NextStepsText }}
{{- $button2Text   := .Params.ButtonText }}
{{- $redirectTo    := .GetPage (.Params.redirectTo | default "/#") }}
{{- $href          := $redirectTo.Permalink | relURL}}
<div class="section is-small">
  <div class="columns is-centered is-vcentered">
    <div class="column is-half has-text-centered">
      <p class="has-text-grey mt-40 is-size-5-mobile">
          {{ $nextStepsText }}
      </p>
        {{/*      <a href="{{ $href }}" style="white-space: normal" class="button cta primary-btn rounded raised mt-40">{{ $button2Text }}</a>*/}}
        {{/*      use CTA button with a play icon */}}
        {{ partial "button-play.html" (dict "context" . "buttonText" $button2Text "href" $href "classes" "primary-btn mt-40") }}
    </div>
  </div>
</div>
<div class="section is-medium">
    {{/*  empty spacer */}}
</div>