{{ $caseStudyText := .Params.CaseStudyText }}
<div class="section is-small-small">
  <div class="container is-small">
    <div class="columns is-vcentered">
      <div class="column landing-caption mt-20">
        <h3 class="title is-6 has-text-centered">{{ $caseStudyText }}</h3>
      </div>
    </div>
  </div>
</div>