{{ $offer := .Params.Offer }}
<div class="section is-small-small">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-8 is-offset-2 landing-caption">
        <h2 class="title is-2 is-bold is-spaced has-text-centered">
            {{ $offer | markdownify }}
        </h2>
      </div>
    </div>
  </div>
</div>