{{- $redirectTo := .GetPage (.Params.redirectTo | default "/#") }}
{{- $heading    := .Params.heading }}
{{- $subtitle   := .Params.subtitle }}
{{- $buttonText := .Params.buttonText }}
{{- $footerText := .Params.footerText }}
<div class="section section-feature-grey is-small">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="mt-50 has-text-centered">
        <h1 class="title is-3 section-title">{{ $heading }}</h1>
        <div class="mt-20">
          <h1 class="subtitle is-5 is-muted">{{ $subtitle }}</h1>
        </div>
      </div>
      <div class="mt-20">
        <div class="divider is-centered"></div>
      </div>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-three-fifths">
      <div class="media mt-40">
        <div class="media-content">
            {{ partial "video-wistia.html" "https://fast.wistia.net/embed/iframe/25rwgobe91?videoFoam=true" }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-feature-grey is-small">
  <div class="columns is-centered">
    <div class="column is-four-fifths">
        {{/*      <div class="has-text-centered">*/}}
        {{/* Sam Oven's style (https://samovensdemo.com/video?cf_uvid=0e993d5cc7d017c53cbafaf4dc484243):  <h1 class="title mt-40 section-title"><span class="has-text-grey-light">Step 2: </span><span>Apply Now To See If You Qualify</span></h1>*/}}
        {{/*        <h1 class="subtitle is-3 is-muted has-text-grey-light">Step 2</h1>*/}}
        {{/*        <h1 class="title section-title">Apply Now</h1>*/}}
        {{/*      </div>*/}}
        {{/*      <div class="mt-20">*/}}
        {{/*        <div class="divider is-centered"></div>*/}}
        {{/*      </div>*/}}
      <div class="columns is-centered is-vcentered">
        <div class="column is-half">
          <h1 class="subtitle is-5 is-muted has-text-centered mt-40">
              {{ $footerText | markdownify }}
          </h1>
          <div class="has-text-centered mt-60">
            <a href="{{ $redirectTo.Permalink | relURL }}" style="white-space: normal"
               class="button cta primary-btn rounded raised">{{ $buttonText }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-feature-grey is-small">
  <div class="mt-50"></div>
</div>

