{{- $image := .Params.image }}
{{- $altText := .Params.altText }}
{{- $bullets := .Params.bullets }}
<div class="section is-medium">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-4 is-offset-1">
          {{- if $image }}
              {{ partial "image.html" (dict "context" . "image" $image "alt" $altText ) }}
          {{- end}}
          {{/*        <div class3="{{.Page.Resources.GetMatch "images/*.png"}}"></div>*/}}
          {{/*          {{ with .Page.Resources.ByType "image" }}*/}}
          {{/*            <div class="{{.}}"></div>*/}}
          {{/*          {{ end }}*/}}
      </div>
      <div class="column is-6 is-offset-1 landing-caption">
        <ul class="fa-ul">
            {{ range $bullets }}
              <li class="has-text-left">
                <span class="fa-li">
                  <i class="fa fa-check"></i>
                </span>
                <span>
                  <b>{{ .prefix }}: </b>
                </span>
                  {{ .text }}
              </li>
            {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>