{{- $redirectTo := .GetPage (.Params.redirectTo | default "/#") }}
{{- $buttonText := .Params.buttonText | default "Sign Up" }}
{{- $usePlayButton := .Params.usePlayButton }}
<section class="section section-feature-grey is-medium">
  <div class="container">
    <div class="has-text-centered">
      <h2 class="title is-3 is-spaced">Enter Your Details To Get Started</h2>
      <h3 class="subtitle is-5 is-muted"></h3>
      <div class="divider is-centered"></div>
    </div>
    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <script type="text/javascript">
            let submitted = false;
            const redirect = () => {
              window.top.location.href = '{{ $redirectTo.Permalink | relURL }}';
            };
          </script>
          <iframe name="contactForm-iFrame" id="contactForm-iFrame" style="display:none;"
                  sandbox="allow-top-navigation"
                  onload="if (submitted) { redirect(); }">
          </iframe>
          <form id="signUpForm"
                class="validate"
                action="https://docs.google.com/forms/d/e/1FAIpQLSeeKSFAX1twon1HRfPE3Fd7kl4Lq4SrVdEVPvH2aoFxJsoy2w/formResponse"
                method="POST" target="contactForm-iFrame" onsubmit="submitted=true;">
            <div class="columns">
              <div class="column is-half is-offset-one-quarter">
                <div class="field">
                  <div class="control has-icons-left">
                    <input class="input is-medium" name="entry.2005620554" type="text" data-validation="not-blank"
                           placeholder="Enter your name" required>
                    <span class="icon is-left">
                    <i class="fa fa-angle-right"></i>
                    </span>
                  </div>
                  <div class="validation-error-message hidden has-text-danger" style="display:none">Name is required
                  </div>
                </div>
                <div class="field">
                  <div class="control has-icons-left">
                    <input class="input is-medium" type="email" name="emailAddress" data-validation="email not-blank"
                           placeholder="Email address" required>
                    <span class="icon is-left">
                    <i class="fa fa-envelope"></i>
                    </span>
                  </div>
                  <div class="validation-error-message hidden has-text-danger" style="display:none">Email must be a
                    valid email address
                  </div>
                </div>
                <div class="control form-footer has-text-centered">
                  <button id="signUpFormSubmit" class="button cta is-large primary-btn raised is-clear mt-20"
                          type="submit">
{{/*                      {{ if $usePlayButton }}*/}}
{{/*                        <span class="icon is-left">*/}}
{{/*                          <i class="fa fa-play" style="margin-right: 1.25em"></i>*/}}
{{/*                        </span>*/}}
{{/*                      {{ end }}*/}}
                      {{ $buttonText }}
                  </button>
                </div>
                <div class="validation-error-message hidden has-text-centered has-text-danger mt-20">
                  <p class="is-size-6 mt-10">Please complete the fields in red</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      {{ partial "disclaimer-info-safety-privacy.html" . }}
    </div>
  </div>
</section>


