<section id="contact" class="section section-feature-grey is-small">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">{{ .Params.contactHeading }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ .Params.contactSubHeading }}</h3>
      <h3 class="subtitle is-4 is-muted">{{ .Params.contactBody }}</h3>
      <div class="divider is-centered"></div>
    </div>
  </div>
</section>
