{{- $hero        := .Site.Params.hero }}
{{- $clientLogos := index $hero "clientlogos" }}
<div class="mt-40">
  <div class="hero-foot mt-60 mb-60">
    <div class="container">
        {{- range $i, $e := $clientLogos }}
            {{ $offset := mod $i 2 | add 1 }}
            {{ if eq $offset 1 }}
              <div class="columns">
              <div class="column is-half level has-text-centered-mobile">
                <div class="level-right">
                  <a>
                    <img class="partner-logo" src="{{ printf "%s" . | relURL }}">
                  </a>
                </div>
              </div>
            {{ else }}
              <div class="column is-half level has-text-centered-mobile">
                <div class="level-left">
                  <a>
                    <img class="partner-logo" src="{{ printf "%s" . | relURL }}">
                  </a>
                </div>
              </div>
              </div>
            {{ end }}
        {{- end }}
    </div>
  </div>
</div>
<div class="mb-60">
</div>