{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image      := index $hero "image" }}
{{- $altText    := index $hero "imageAltText" }}
<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered is-centered is-multiline">
      <div class="column is-half">
        <div class="columns">
          <div class="column is-offset-1 has-text-centered-mobile">
            <h1 class="title is-1 is-bold is-spaced">
                {{ $title | markdownify }}
            </h1>
              {{ with $subtitle }}
                <div class="mt-40">
                  <h2 class="subtitle is-5 is-muted">
                      {{ . | markdownify }}
                  </h2>
                </div>
              {{ end }}
            <div class="mt-40">
              <p>
                <a class="button cta rounded primary-btn raised" href="{{ $buttonLink }}">
                    {{ $buttonText }}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="columns is-centered">
          <div class="column is-offset-1">
            <div class="media mt-60">
              <div class="media-content">
                {{/* partial "video-wistia.html" "https://fast.wistia.net/embed/iframe/25rwgobe91?videoFoam=true" */}}
                {{ partial "video-embed.html" "https://youtube.com/embed/EHd4G-Vbldg" }}
              </div>
            </div>
          </div>
        </div>
          {{/*        {{- if $image }}*/}}
          {{/*        <figure class="image">*/}}
          {{/*          <a href="#section3-animation" alt="Migrate An Oracle Schema In One Command">*/}}
          {{/*            <img class="hero-animation rounded-5" src="{{ printf "images/%s" $image | relURL }}" alt="{{ $altText }}">*/}}
          {{/*          </a>*/}}
          {{/*        </figure>*/}}
          {{/*        {{- end}}*/}}
      </div>
    </div>
  </div>
</div>