<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script src="{{ "js/fresh.js" | relURL }}"></script>
<script src="{{ "js/jquery.panelslider.min.js" | relURL }}"></script>
<script src="{{ "js/bulma-form-validation.js" | relURL }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

{{/*{{ $validation := resources.Get "js/bulma-form-validation.js" | resources.Minify }}*/}}
{{/*<script type="javascript" src="{{ $validation.Permalink | relURL }}"></script>*/}}

{{/*{{ $jqBootstrapValidation := resources.Get "js/jqBootstrapValidation.js" | resources.Minify }}*/}}
{{/*<script type="javascript" src="{{ $jqBootstrapValidation.Permalink | relURL }}"></script>*/}}

{{/*{{ $validation := resources.Get "js/validateForm.js" | resources.Minify }}*/}}
{{/*<script type="javascript" src="{{ $validation.Permalink | relURL }}"></script>*/}}