<div class="column is-7 mt-60">
  <article class="media icon-box">
    <div class="columns">
      <div class="column is-one-quarter-tablet">
        <figure class="image is-128x128">
          <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
        </figure>
      </div>
      <div class="column">
        <div class="media-content mt-50">
          <div class="content">
            <p>
              <span class="icon-box-text">{{ .text | markdownify }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
