<section id="schedule" class="section section-feature-grey is-small">
    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/richardlloyd/strategy-session-30min?primary_color=6153cc" style="min-width:320px;height:930px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    <!-- Calendly inline widget end -->
</section>
