{{- $content    := .section }}
{{- $title      := index $content "title" }}
{{- $subtitle   := index $content "subtitle" }}
{{- $features   := index $content "features" }}
{{- $background := index $content "backgroundColour" }}
<section>
  <div class="section is-medium {{ $background }}">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <div class="has-text-centered">
            <h2 class="title is-1">{{ $title }}</h2>
            <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
            <div class="mb-40"></div>
            <div class="divider is-centered"></div>
          </div>
        </div>
      </div>
      <!-- Start tile ancestor for the first column and close it on the 3rd or last element in the range of pages. -->
        {{ $num_features := len $features }}
        {{ if gt $num_features 0 }}
          <div class="mt-40 mb-60">
              {{/* old example of column size not used: {{ $column_size :=  (div $num_pages 3.0) | math.Ceil | int | default 1 }}*/}}
              {{ range $i, $e := $features }}
                  {{ $offset := mod $i 3 | add 1 }}
                  {{ if eq $offset 1 }}
                    <div class="columns is-centered">
                    {{/* cheat by setting size 4 column if it's the last feature, since we can't mess with flexbox settings easily due to the nature of tiles */}}
                    <div class="column {{ if (eq (add $i 1) $num_features) }}is-4{{ end }}">
                    <div class="tile is-ancestor">
                  {{ end }}
                  <div class="tile is-parent">
                    <div class="card-flex is-child box">
                      {{/* level image: https://stackoverflow.com/questions/48277473/center-image-in-bulma */}}
                      <div class="card-flex-image has-text-centered">
                          <figure class="image is-48x48 is-inline-block"><img src="{{ $e.icon }}" alt="{{ $e.altText }}"></figure>
                      </div>
                      <div class="card-flex-header-title">
                        <p class="subtitle is-5 has-text-grey has-text-centered">
                            {{ $e.text | markdownify }}
                        </p>
                      </div>
                    </div>
                  </div>
                  {{ if or (eq $offset 3) (eq (add $i 1) $num_features) }}
                    </div>
                    </div>
                    </div>
                  {{ end }}
              {{ end }}
          </div>
        {{ end }}
    </div>
  </div>
</section>