{{ $section    := .section }}
{{ $title      := $section.title }}
{{ $subtitle   := $section.subtitle }}
{{ $buttonText := $section.buttonText }}
{{ $buttonLink := $section.buttonLink }}
{{ $colour     := .sectionColour }}
<section class="section {{ $colour }} is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-12 is-centered">
        <div class="title-wrapper-wide has-text-centered">
          <h2 class="title is-2 is-spaced">{{ $title }}</h2>
          <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
          <div class="divider is-centered"></div>
        </div>
        <div class="content-wrapper">
          <div class="columns">
            <div class="column is-6 is-offset-3">
              <div class="columns is-multiline is-variable">
                <div class="column">
                  <div class="control form-footer has-text-centered">
                    <a class="button cta is-large rounded is-primary raised"
                       href="{{ $buttonLink }}">{{ $buttonText }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
