{{ $title         := .context.sectionTitle }}
{{ $subtitle      := .context.sectionSubtitle }}
{{ $videos        := .context.videos }}
{{ $sectionColour := .sectionColour }}
{{ $sectionId     := .sectionId }}
<section>
  <div {{ if $sectionId }}id="{{ $sectionId }}"{{ end }} class="section {{ $sectionColour }} is-medium">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <div class="title-wrapper-wide has-text-centered">
            <h2 class="title is-2 is-spaced">{{ $title }}</h2>
            <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
            <div class="divider is-centered"></div>
          </div>
        </div>
      </div>
      <div class="content-wrapper">
          {{ $num_videos := len $videos }}
          {{ range $i, $e := $videos }}
              {{ $offset := mod $i 3 | add 1 }}
              {{ if eq $offset 1 }}
                <div class="columns is-centered">
                {{/* cheat by setting size 4 column if it's the last feature, since we can't mess with flexbox settings easily due to the nature of tiles */}}
                <div class="column {{ if (eq (add $i 1) $num_videos) }}is-4{{ end }}">
                <div class="tile is-ancestor">
              {{ end }}
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <div class="card-flex-image has-text-centered">
                      {{- if $e.title }}
                          {{ partial "video-embed.html" $e.link }}
                      {{- end}}
                  </div>
                  <div class="has-text-centered mb-20">
                    <p class="title is-5 has-text-grey">
                        {{ $e.title | markdownify }}
                    </p>
                  </div>
                  <div class="has-text-centered mb-20">
                    <div class="is-size-6 has-text-grey-light">
                      <p>
                          {{ $e.subtitle }}
                      </p>
                    </div>
                  </div>
                </article>
              </div>
              {{ if or (eq $offset 3) (eq (add $i 1) $num_videos) }}
                </div>
                </div>
                </div>
              {{ end }}
          {{ end }}
      </div>
    </div>
  </div>
</section>
