{{ $title := index .Site.Params.services.title }}
{{ $subtitle := index .Site.Params.services.subtitle }}
{{ $offer1 := index .Site.Params.services.options 0 }}
{{ $offer2 := index .Site.Params.services.options 1 }}
{{ $offer3 := index .Site.Params.services.options 2 }}
<div class="section section-feature-grey is-medium">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7 has-text-centered">
        <h1 class="title is-2 is-bold is-spaced">{{ $title }}</h1>
        <h2 class="subtitle is-4 is-muted">{{ $subtitle | markdownify }}</h2>
      </div>
    </div>
    <div class="mb-60"></div>
    <div class="columns is-centered is-desktop">
      <div class="pricing-table">
        <div class="column is-one-third">
          <div class="pricing-plan is-accent">
            <div class="plan-header">{{ $offer1.planHeader | markdownify }}</div>
              {{/*            <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>60</span>/month</div>*/}}
            <div class="plan-items">
                {{ range $offer1.planItems }}
                  <div class="plan-item">{{ . | markdownify }}</div>
                {{ end }}
            </div>
            <div class="plan-footer">
              <a class="button is-fullwidth rounded raised" href="{{ $offer1.buttonLink }}">{{ $offer1.buttonText }}</a>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="pricing-plan is-accent">
            <div class="plan-header">{{ $offer2.planHeader | markdownify  }}</div>
              {{/*            <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>60</span>/month</div>*/}}
            <div class="plan-items">
                {{ range $offer2.planItems }}
                  <div class="plan-item">{{ . | markdownify }}</div>
                {{ end }}
            </div>
            <div class="plan-footer">
              <a class="button is-fullwidth rounded raised" href="{{ $offer2.buttonLink }}">{{ $offer2.buttonText }}</a>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="pricing-plan is-accent">
            <div class="plan-header">{{ $offer3.planHeader | markdownify  }}</div>
              {{/*            <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>60</span>/month</div>*/}}
            <div class="plan-items">
                {{ range $offer3.planItems }}
                  <div class="plan-item">{{ . | markdownify }}</div>
                {{ end }}
            </div>
            <div class="plan-footer">
              <a class="button is-fullwidth rounded raised" href="{{ $offer3.buttonLink }}">{{ $offer3.buttonText}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>