<section class="section is-medium">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-three-fifths has-text-centered">
        <h1 class="title is-1 section-title">{{ .Params.BlogTitle | markdownify }}</h1>
        <div class="mt-20">
          <div class="columns is-centered">
            <div class="column is-three-fifths has-text-centered">
              <h1 class="subtitle is-4 is-muted">{{ .Params.Subtitle }}</h1>
            </div>
          </div>
        </div>
        <div class="mt-20">
            {{ if .Params.Date }}
              <h6 class="title is-7 has-text-grey-light">Published
                on {{ .Params.Date.Format .Site.Params.globalDateFormat }}. Last
                updated {{ .Page.Lastmod.Format .Site.Params.globalDateFormat }}
              </h6>
            {{ end }}
        </div>
        <div class="mb-40"></div>
        <div class="divider is-centered"></div>
        <div class="mb-40"></div>
          {{ partial "breadcrumb.html" . }}
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-three-fifths">
        <div class="content">
          <div class="mb-40"></div>
          <div class="is-size-5 has-text-weight-normal list-margin-bottom-1">
              {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
