{{- $logo := .Site.Params.navbarlogo.image }}
<div class="sidebar">
  <div class="sidebar-header">
    <img src="{{ printf "%s" $logo | relURL }}">
    <a class="sidebar-close" href="javascript:void(0);">
      <i data-feather="x"></i>
    </a>
  </div>
  <aside>
    <div class="inner">
      <ul class="sidebar-menu">
{{/*          {{ range where .Site.RegularPages "Section" (strings.TrimSuffix "/" .File.Dir) }}*/}}
{{/*            <li>*/}}
{{/*              <a href="{{ .Permalink }}">{{ .Title }}</a>*/}}
{{/*            </li>*/}}
{{/*          {{ end }}*/}}
          {{ .TableOfContents }}
      </ul>
    </div>
  </aside>
</div>
