{{ $heading := .Params.heading }}
{{ $subHeading := .Params.subHeading }}
<section class="section section-light-grey is-small"></section>
<section id="contact" class="section section-light-grey is-large">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">{{$heading}}</h2>
      <div class="divider is-centered"></div>
    </div>
  </div>
</section>
<section class="section section-light-grey is-small"></section>
