{{/* supply the YouTube video embed link as parameter 0 */}}
<div class="mb-20" style="position: relative; padding-bottom: 56.25%; height: 0;">
  <iframe src="{{ . }}" frameborder="0" webkitallowfullscreen
          mozallowfullscreen allowfullscreen
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
</div>